html{
  /* background-image: url(fundo.png); */
   background-image: url(fundo2.jpg);
  /* background-image: url(Skyline.png); */ 
}
body{
    text-align: center;
}
h1{
    font-family: verdana;
  font-size: 2200;
}
div{
  border-radius: 15px;
  text-align: center;
   height: 590px;
  width: 450px;
  background-color: rgb(17, 56, 92);
  opacity:0.85;
}
